{% extends 'bases/base.html' %}
{% load static %}

{% block main %}
    <div class=text-center>
      <h1>
          <b>Our group members</b>
      </h1>
        <br>
        <br>
    </div>

    <div class=text-left>
      <p style="font-size: x-large">
          <br>Professor Dan Li
          <br>Dr Wenjie Jiang
          <br>Dr Lianhai Zu
          <br>Dr Peiyao Wang
          <br>Dr Yang Cao
      </p>
    </div>
    <br>
    <br>

    <h1>Bio list</h1>
    <div>
    {% block group_member_info %}
        {% if member_list %}
            {% for member in member_list %}
                <p style="font-size: x-large">
                Name: {{ member.name }}<br>
                Position: {{ member.position }}<br>
                Bio: {{ member.bio }}<br>
                </p>
            {% endfor %}
        {% endif %}
    {% endblock group_member_info %}
    </div>
{% endblock main %}

