{% extends 'bases/base.html' %}
{% load static %}

{% block main %}
    <div class=text-center>
      <h1>
          <b>About systems ionic lab</b>
      </h1>
        <br>
        <br>
    </div>
    <figure class="img-responsive-center" title="Group photo">
      <img class="img-responsive" src="{% static 'groupweb/img/test2.jpeg' %}" alt="Test Image" width="800px">
    </figure>
    <div class=text-left>
      <p style="font-size: x-large">
          We are a research group in The Department of Chemical Engineering, The University of Melbourne.
          Our research is focusing on the ion transport in nanoporous materials and future ionotronics.
          Currently, we have 5 posdocs and 5 PhD students.
          We are a big warm family.
      </p>
    </div>
{% endblock main %}

