{% extends 'bases/base.html' %}
{% load static %}

{% block main %}
    <h1 class=text-center>
      <b>Selected publications in systems ionic lab</b>
    </h1>
    <br>
    <br>


    <h1 class="text-center">Soft materials</h1>
    {% block publication_info %}
        {% if soft_mat_publication_list %}
            {% for pub in soft_mat_publication_list %}
                <p style="font-size: x-large">
                {{ pub }}
                </p>
            {% endfor %}
        {% endif %}
    {% endblock publication_info %}

{% endblock main %}

