{% extends 'bases/base.html' %}
{% load static %}

{% block main %}
    <div class=text-center>
      <h1>
          <b>Selected publications in systems ionic lab</b>
      </h1>
        <br>
        <br>
    </div>

    <div class=text-left>
      <p style="font-size: x-large">
          Publication list
          <br>1
          <br>2
          <br>3...
      </p>
    </div>

    <h1>Selected publications</h1>
    <div>
    {% block publication_info %}
        {% if publication_list %}
            {% for publication in publication_list %}
                <p style="font-size: x-large">
                Name: {{ publication.title }}<br>
                Position: {{ publication.journal }}<br>
                Bio: {{ publication.doi }}<br>
                </p>
            {% endfor %}
        {% endif %}
    {% endblock publication_info %}
    </div>
{% endblock main %}

