{% extends 'bases/base.html' %}
{% load static %}

{% block main %}
    <div class=text-center>
      <h1>
          <b>Our research interests</b>
      </h1>
        <br>
        <br>
    </div>

    <div class=text-left>
      <p style="font-size: x-large">
          Graphene-based 2D materials
      </p>
      <p style="font-size: x-large">
          Ionotronics
      </p>
      <p style="font-size: x-large">
          Energy storage and conversion devices
      </p>
      <p style="font-size: x-large">
          To be finalised in the future...
      </p>
    </div>
{% endblock main %}

